NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://fxymwhzqwdpmcmkbcinz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1CdyvH31dYALbMkS9Lohtw_3yfo2Jrj
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4eW13aHpxd2RwbWNta2JjaW56Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU0NzUzNSwiZXhwIjoyMDkwMTIzNTM1fQ.tovRD68TCHFsrX2CbUETEmh41mRhpH4IgoHrgFZbk3U
EVOLUTION_API_URL=http://127.0.0.1:8080
EVOLUTION_INSTANCE=barbe
EVOLUTION_API_KEY=ventura123
